@font-face {
    font-family: "BUTTONS";
    src: url('fonts/ATTACK_BUTTONS.otf');
    font-weight: normal;
}
@font-face {
    font-family: "attack";
    src: url('fonts/attack.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "8bit";
    src: url('fonts/8bit.ttf');
}

@font-face {
    font-family: "8bit_small";
    src: url('fonts/small_8bit.ttf');
}

@font-face {
    font-family: "HP";
    src: url('fonts/HP.ttf');
}
@font-face {
    font-family: "mtt_speak";
    src: url('fonts/mtt_speak.ttf');
}
*{
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
.cursor_none{
    cursor: none;
}
body {
    background: black;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-working{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 163%;
    font-family: "BUTTONS";
    background-image: url(../img/background.png);
    color: white;
    text-align: center;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}   
.too_small {
    display: flex;
    width: 100%;
    height: 100%;
    color: crimson;
    font-family: 'attack';
    background: black;
    justify-content: center;
    align-items: center;
}
audio{
    pointer-events: none;
}
.particles {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
img.leg1 {
    width: 8%;
    position: absolute;
    top: 19.3%;
    left: 50%;
}
img.leg2 {
    width: 8%;
    position: absolute;
    top: 19.3%;
    left: 50%;
}
img.legs{
    transition: 0.200s;
    z-index: 1;
}
img.smoke {
    width: 53%;
    position: absolute;
    top: 57%;
    left: 24%;
    z-index: 2;
    transition: 1s;
}
img.lightning {
    width: 3%;
    position: absolute;
    transition: 499ms;
    z-index: 1;
}
img.hand1 {
    width: 4.5%;
    position: absolute;
    transition: 0.5s;
}
div.laser {
    width: 0.5%;
    height: 1%;
    position: absolute;
    transition: 1s;
    z-index: 3;
}
div#l0 {
    background: white;
}
div#l1 {
    background: blue;
}
div#l2 {
    background: orange;
}
.hand2{
    width: 19%;
    position: absolute;
    top: 32%;
    rotate: 90deg;
    transition: 400ms;
}
.hand2_down{
    top: 58% !important;
}
.laser_head {
    transform-origin: top center;
    height: 5%;
    position: absolute;
    left: 48%;
    top: 16%;
    width: 0.5%;
    border: 3px black solid;
    transition: 700ms;
}
img.leg_dash{
    width: 8%;
    height: 40%;
    position: relative;
    top: 48%;
    left: 15%;
    background: none !important;
    z-index: 3;
}
img.leg_dash_right{
    left:77%;
}
img.leg_dash_top{
    top:68%;
}
img.leg_dash_bottom{
    top:34%;
}
img.bomb {
    width: 12%;
    position: absolute;
    left: 45%;
    top: 16%;
    transition: 1s;
    z-index: 3;
}
.bomb_down{
    top: 58% !important;
}
img.explosion {
    width: 21%;
    position: absolute;
    top: 56%;
    z-index: 2;
}
img.wing2 {
    width: 21%;
    position: absolute;
    left: 52.6%;
    top: 19%;
    z-index: 3;
    transition: 1s;
}
img.wing2_down {
    left: 57%;
    top: 49%;
}
img.wing1 {
    width: 21%;
    position: absolute;
    left: 25.6%;
    top: 19%;
    z-index: 3;
    transition: 1s;
}
img.wing1_down {
    left: 22%;
    top: 49%;
}
img.rocket {
    width: 5%;
    position: absolute;
    top: -14%;
    animation: rocketDown 2s;
    animation-iteration-count: 1;
    z-index: 3;
}
img.heart_yellow {
    width: 38.8%;
    transition: 0.75s;
}
.yellow_heart_anim {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 10%;
    position: absolute;
    left: 47.2%;
    top: 23%;
    transition: 0.75s;
}
.yellow_heart_bc{
    background-image: url(../img/heart_yellow_anim.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    animation: backgroundAnimation 1s infinite;
}
img.heart_yellow_border {
    width: 2.8%;
    position: absolute;
    left: 48%;
    top: 25%;
    transition: 0.5s;
}
img.bullet{
    position: absolute;
    transition: 1s;
    z-index: 3;
}
.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.in_statistics {
    color: white;
    font-size: 321%;
    font-family: "BUTTONS";
    padding: 1% 0 1% 0;
}
.mettaton_hp {
    position: absolute;
    top: 11%;
    top: 44%;
    width: 14%;
    height: 10%;
    left: 42.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}
.hp- {
    color: red;
    font-size: 2vw;
    font-family: 'attack';
    animation: bounce 750ms;
}
.hp_show_wrap2 {
    width: 100%;
    height: 100%;
    margin: 3% 0 0 0;
    background: #414041;
}
.hp_show_wrap {
    width: 13%;
    height: 100%;
    background: #414041;
}
.hp_shower {
    width: 100%;
    height: 100% !important;
    height: 28%;
    background: #00d800;
}
.hp_shower.fisrt_hp {
    background: #00d800;
    height: 100%;
}
.line_attack {
    width: 2.3%;
    height: 100%;
    position: relative;
    left: 0%;
    border: 0.3vw solid black;
    background-color: white;
}
img.attack_png {
    position: absolute;
    top: 2%;
    left: 34%;
    width: 31%;
    z-index: 2;
}
img.heart_img {
    width: 8%;
}
img.heart_img.smaller_img_heart {
    width: 7%;
}
img.smaller_img {
    width: 3% !important;
}
.start_menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(../img/background.png);
    animation: moveBackground 2s linear infinite;
    background-size: 100%;
    background-repeat: repeat;
    transition: 1s;
    z-index: 3;
}
.start_button {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 21%;
    font-family: "BUTTONS";
    color: #f9812b;
    background: black;
    border: 0.35vw solid #f9812b;
    font-size: 5.7vw;
    padding: 0 0 1% 1%;
    align-items: center;
    cursor: pointer;
}
img#fullscreenBtn {
    width: 3%;
    position: absolute;
    padding: 0 0 1% 1%;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.game_knowledge {
    font-family: "BUTTONS";
    color: #f9812b;
    padding: 3% 0 0 0;
    font-size: 238%;
}
.slider {
    width: 23%;
    height: 7%;
    display: flex;
    margin: 3% 0 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
input#volume {
    width: 20%;
    height: 0.35%;
    margin: 3%;
    position: absolute;
    left: 35%;
    -webkit-appearance:none !important;
    background: #f9812b;
    border: none;
    outline: none;
    cursor: pointer;
}
#rangeValue {
    font-family: "attack";
    color: #f9812b;
    position: absolute;
    left: 59%;
    font-size: 1vw;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 1.25vw;
    height: 1.25vw;
    background: #000000;
    border: 0.15vw solid #e58947;
    border-radius: 0;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: #000000;
    cursor: grab;
}
.slider input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
img#heart {
    width: 2vw;
    position: absolute;
    left: 49%;
    top: 73%;
    animation: beam 0.5s infinite;
    -webkit-animation: beam 0.5s infinite;
    opacity: 1;
    z-index: 2;
}
.start {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
}
#frisk {
    width: 4%;
    padding: 0 0 10% 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: black;
    color: white;
    z-index: 1;
}
.mettaton {
    width: 100%;
    height: 54.5%;
    display: flex;
    justify-content: center;
    padding: 0 0 0.5% 0;
}
.area {
    width: 82.5%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.mettaton_gif {
    width: 59%;
    transition: 0.5s;
    left: 0;
    position: relative;
    animation-iteration-count: 1;
    z-index: 0;
}
.mettaton_gif_left{
    transition: 1s;
    left: -10%;
}
.wrap_box_text {
    width: 52vw;
    height: 27vw;
    position: absolute;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.triangle {
    width: 0%;
    height: 0%;
    position: relative;
    left: 1%;
    top: 22%;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-right: 3.2vw solid white;
    transition: 1s;
}
.triangle_left{
    left:54%;
    transition: 0s;
}
.chat_box {
    width: 36%;
    height: 34%;
    background-color: white;
    position: relative;
    top: 9%;
    border-radius: 1vw;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    font-family: "mtt_speak";
    font-size: 1.4vw;
    letter-spacing: -0.15vw;
    transition: 1s;
}
.chat_box_left{
    left:57%;
    transition: 0s;
}
.text-menu {
    font-family: "8bit";
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}
.text {
    width: 54.5%;
    height: 92%;
    border: 0.3vw solid white;
    font-size: 2vw;
    position: relative;
    color: white;
    padding: 1%;
    white-space: pre;
    transition: 1s;
}
div#shake-element {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.word {
    display: flex;
}
.text_bc_im{
    background-image: url(../img/attack.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 0% !important;
    width: 53% !important;
    height: 91% !important;
}
img.img_M {
    width: 4%;
    position: absolute;
    z-index: 0;
}
.stats-menu {
    font-family: "8bit_small";
    display: flex;
    height: 9%;
    justify-content: center;
    align-items: center;
    font-size: 246%;
    width: 100%;
    transition: 1s;
}
.stats-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 54.5%;
    height: 100%;
}
.name {
    padding-right: 5%;
    font-size: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
}
.lv {
    padding-right: 5%;
    font-size: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
}
.hp2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-start;
    font-size: 2.3vw;
    height: 100%;
    align-items: center;
}
.small_hp {
    font-family: "HP";
    font-size: 1.25vw;
    padding: 0 4% 0 0;
    display: flex;
    align-items: center;
}
.hp {
    width: 50%;
    margin: 0 4% 0 0;
    height: 43%;
    background: #bf0000;
}
.hpVis {
    background: #ffff00;
    height: 100%;
}
/*
.txt {
Nothing yet
}
*/
.battle-menu {
    width: 100%;
    height: 11.5%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    font-family: "BUTTONS";
    padding: 0 0 0.5% 0;
    justify-content: space-evenly;
    transition: 1s;
}
.inner_part {
    display: flex;
    justify-content: space-between;
    width: 54.5%;
    height: 100%;
}
.button {
    height: 96%;
    width: 19%;
    color: #fe8507;
    border: 0.2vw solid #fe8507;
    background: 0;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.button:focus {
    outline:none;
}
.button.yellow {
    color: #d4d415;
    border: 0.2vw solid #d4d415;
}
img.heart {
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
    position: relative;
    top: 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 100%;
    font-size: 2vw;

}
.left-element {
    padding: 0 0 0 3%;
    display: flex;
    align-items: center;
}

.right-element {
    padding: 0 0 0 17%;
    display: flex;
    align-items: center;
}

.right-element-page {
    padding: 0 0 0 39%;
    display: flex;
    align-items: center;
}

.nothing {
    width: 10%;
    height: 10%;
    background: black;
}
img.attack {
    width: 107%;
    height: 137%;
}
.attack_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attack_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32%;
    padding: 2% 0 0 0;
}
.hidden{
    display: none;
}
.hidden_anim{
    animation: disepear 1s;
}
.black{
    background-color: black;
}
.flex{
    display: flex;
    align-items: center;
}
.transition{
    transition: 1s;
}
.animation_shake{
    animation: shake_attack steps(1, end) 1s;
    animation-timing-function: cubic-bezier(0.43, -0.02, 1, 2.29);
}
.wrap{
    flex-wrap: wrap;
}
.WidthN{
    width: max-content !important;
}
.none{
    position:absolute;
    display: none;
}
.appear_hide{
    animation: black_white 0.2s infinite;
}
.appear_hide_yellow{
    animation: yellow_white 0.2s infinite;
}
.flash{
    animation: beam 0.5s infinite;
}
.move_attack{
    left: 100% !important;
    transition: 1.2s linear;
} 
.cube {
    width: 49% !important;
    height: 97% !important;
    padding: 0;
}
.move {
    transition: all 0.4s ease-in-out !important;
    top: 92.8% !important;
    left: 23.8% !important;
}
@keyframes beam {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes black_white {
    0% {
        border: 0.3vw solid black;
        background-color: white;
    }
    50% {
        border: 0.3vw solid white;
        background-color:   black;
    }
    100% {
        border: 0.3vw solid black;
        background-color: white;
    }
}
@keyframes yellow_white {
    0% {
        border: 0.3vw solid yellow;
        background-color:   black;
    }
    50% {
        border: 0.3vw solid black;
        background-color:   yellow;
    }
    100% {
        border: 0.3vw solid yellow;
        background-color: black;
    }
}
@keyframes bounce {
    0% {
        position: relative;
        bottom: 15%;
    }
    25%{
        position: relative;
        bottom: 30%;
    }
    100%{
        position: relative;
        bottom: 0%;
    }
}
@keyframes disepear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  
@keyframes moveBackground {
    0% {
      background-position: 0vw 0vw;
    }
    100% {
        background-position: 14.3vw -16.6vw;
    }
}
  @keyframes shake1 {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-1.5px);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes shake2 {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(1.5px);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes shake3 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(-1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake4 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake4 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake_attack {
    0% {
      transform: translateX(0);
    }
    7% {
      transform: translateX(10px);
    }
    14% {
      transform: translateX(-10px);
    }
    21% {
      transform: translateX(8px);
    }
    28% {
      transform: translateX(-8px);
    }
    35% {
      transform: translateX(6px);
    }
    42% {
      transform: translateX(-6px);
    }
    49% {
      transform: translateX(5px);
    }
    56% {
      transform: translateX(-5px);
    }
    63% {
      transform: translateX(3px);
    }
    70% {
      transform: translateX(-3px);
    }
    77% {
      transform: translateX(2px);
    }
    84% {
      transform: translateX(-2px);
    }
    91% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(-1px);
    }
  }  
  /*    animation: shake_death 0.2s steps(1, end) infinite;*/
  @keyframes shake_death {
    0%{
        transform: translateX(-2px);
    }
    25%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateX(2px);
    }
    75%{
        transform: translateY(3px);
    }
    100%{
        transform: translateX(-2px);
    }
  }
  @keyframes backgroundAnimation {
    0% {
        background-size: 40% 40%;
    }
    50% {
        background-size: 65% 65%;
    }
    100% {
        background-size: 40% 40%;
    }
}

  @keyframes rocketDown {
    0% {
        top:-14%;
    }
    100% {
        top:100%;
    }
}

@media screen and (min-width: 1700px) and (min-height: 956px) {

}

@media screen and (min-width: 2560px) and (min-height: 1440px) {
 
}