@font-face {
    font-family: "buttons";
    src: url("../fonts/attack_buttons.otf");
    font-weight: normal;
}
@font-face {
    font-family: "attack";
    src: url("../fonts/attack.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "8bit";
    src: url("../fonts/8bit.ttf");
}

@font-face {
    font-family: "8bit_small";
    src: url("../fonts/small_8bit.ttf");
}

@font-face {
    font-family: "HP";
    src: url("../fonts/HP.ttf");
}
@font-face {
    font-family: "mtt_speak";
    src: url("../fonts/mtt_speak.ttf");
}
*{
    box-sizing: border-box;
    overflow: hidden;
}
html {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
.cursorNone{
    cursor: none;
}
body {
    background: black;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
img{
    user-select: none;
    -webkit-user-drag: none;
}
audio{
    pointer-events: none;
}
.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.leg1 {
    width: 8%;
    position: absolute;
    left: 50%;
}
.leg2 {
    width: 8%;
    position: absolute;
    left: 50%;
}
.legs{
    transition: 0.200s;
    z-index: 1;
}
.smoke {
    width: 53%;
    position: absolute;
    left: 24%;
    z-index: 2;
    transition: 1s;
}
.lightning {
    width: 3%;
    position: absolute;
    transition: 499ms;
    z-index: 1;
}
.hand1 {
    width: 4.5%;
    position: absolute;
    transition: 0.5s;
    transform-origin: left top;
}
.laser {
    width: 0.5%;
    height: 0.5vw;
    position: absolute;
    transition: 1s;
    z-index: 3;
}
#l0 {
    background: white;
}
#l1 {
    background: blue;
}
#l2 {
    background: orange;
}
.hand2{
    width: 4.5%;
    position: absolute;
    transition: 400ms;
}
.laser_head {
    transform-origin: top center;
    height: 4vw;
    position: absolute;
    left: 48%;
    width: 0.7vw;
    border: 0.156vw black solid;
    transition: 700ms;
}
.leg_dash{
    width: 8%;
    position: relative;
    top: 48%;
    left: 15%;
    background: none !important;
    z-index: 3;
}
.leg_dash_right{
    left:77%;
}
.bomb {
    width: 12%;
    position: absolute;
    left: 45%;
    transition: 1s;
    z-index: 3;
}
.bomb_down{
    top: 58% !important;
}
.explosion {
    width: 21%;
    position: absolute;
    z-index: 2;
}
.wing2 {
    width: 21%;
    position: absolute;
    left: 52.6%;
    top: 19%;
    z-index: 3;
    transition: 1s;
}
.wing2_down {
    left: 57%;
    top: 49%;
}
.wing1 {
    width: 21%;
    position: absolute;
    left: 25.6%;
    top: 19%;
    z-index: 3;
    transition: 1s;
}
.wing1_down {
    left: 22%;
    top: 49%;
}
.rocket {
    width: 5%;
    position: absolute;
    transition: 2s linear;
    z-index: 3;
}
.heart_yellow {
    width: 38.8%;
    transition: 0.75s;
}
.yellow_heart_anim {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 5vw;
    position: absolute;
    left: 47.2%;
    top: 23%;
    transition: 0.75s;
}
.yellow_heart_bc{
    background-image: url(../img/heart_yellow_anim.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    animation: backgroundAnimation 1s infinite;
}
.heart_yellow_border {
    width: 2.8%;
    position: absolute;
    left: 48%;
    top: 25%;
    transition: 0.5s;
}
.bullet{
    position: absolute;
    transition: 1s;
    z-index: 3;
}
.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.stat {
    color: white;
    font-size: 2vw;
    font-family: "buttons";
    padding: 1% 0 1% 0;
    user-select: text;
}
.attackingSection {
    position: absolute;
    top: 0%;
    width: 48%;
    left: 25.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 2;
}
.attackingGIF {
    width: 33%;
    z-index: 2;
}
.damageDealt {
    color: red;
    font-size: 2vw;
    font-family: "attack";
    margin: 4% 0 1% 0;
    animation: bounce 750ms;
}
.mettatonsHPBackground {
    width: 9vw;
    height: 2.5vw;
    margin: 1% 0 0 0;
    background: #414041;
}
.hp_show_wrap {
    width: 13%;
    height: 100%;
    background: #414041;
}
.mettatonsHP {
    width: 100%;
    height: 100%;
    background: #00d800;
}
.mettatonsHP.fisrt_hp {
    background: #00d800;
    height: 100%;
}
.line_attack {
    width: 2.5%;
    height: 100%;
    position: relative;
    left: 0%;
    border: 0.3vw solid black;
    background-color: white;
}
.heart_img {
    width: 8%;
}
.heartImg {
    width: 7%;
}
.smaller_img {
    width: 3% !important;
}
.startingMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(../img/background.png);
    animation: moveBackground 2s linear infinite;
    background-size: 100%;
    background-repeat: repeat;
    transition: 1s;
    z-index: 3;
}
.play {
    display: flex;
    justify-content: center;
    width: 23vw;
    height: 11vw;
    font-family: "buttons";
    color: #f9812b;
    background: black;
    border: 0.35vw solid #f9812b;
    font-size: 5.7vw;
    padding: 0 0 1% 1%;
    align-items: center;
    cursor: pointer;
}
.updatePageInfo {
    color: #f9812b;
    font-family: "buttons";
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullScreenButton {
    width: 3%;
    position: absolute;
    padding: 0 0 1% 1%;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
.slider {
    width: 23%;
    height: 7%;
    display: flex;
    margin: 3% 0 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.volume {
    width: 20%;
    height: 0.35%;
    margin: 3%;
    position: absolute;
    left: 35%;
    -webkit-appearance:none !important;
    background: #f9812b;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: visible !important;
}
#rangeValue {
    font-family: "attack";
    color: #f9812b;
    position: absolute;
    left: 59%;
    font-size: 1vw;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 1.25vw;
    height: 1.25vw;
    background: #000000;
    border: 0.15vw solid #e58947;
    border-radius: 0;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: #000000;
    cursor: grab;
}
.slider input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.exitButton {
    width: 3%;
    height: 3%;
    color: #f9812b;
    font-family: "buttons";
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 0;
}
.heart {
    width: 2vw;
    position: absolute;
    left: 49%;
    animation: beam 0.5s infinite;
    -webkit-animation: beam 0.5s infinite;
    opacity: 1;
    z-index: 2;
}
.startingAnimation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
}
.frisk {
    width: 4%;
    position: absolute;
    top: 75%;
}
.inGameScreen {
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: black;
    color: white;
    z-index: 1;
}
.mettatonSection {
    width: 82.5%;
    height: 54.5%;
    display: flex;
    justify-content: center;
}
.mettatonGIF {
    width: 59%;
    transition: 0.5s;
    left: 0;
    position: relative;
    animation-iteration-count: 1;
    z-index: 0;
}
.mettaton_gif_left{
    transition: 1s;
    left: -10%;
}
/* .stageLightsCover {
    position: relative;
    left: -59.5%;
    top: 17%;
    width: 0;
    overflow: visible;
    transition: 1s;
}
.stageLights {
    position: absolute;
    top: 0;
    left: 0;
    width: 48vw;
} */
.chatBox {
    width: 52vw;
    height: 27vw;
    position: absolute;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.triangle {
    width: 0%;
    height: 0%;
    position: relative;
    left: 1%;
    top: 22%;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-right: 3.2vw solid white;
    transition: 1s;
}
.triangle_left{
    left: -16%;
    transition: 0s;
}
.textBox {
    width: 36%;
    height: 34%;
    background-color: white;
    position: relative;
    top: 9%;
    border-radius: 1vw;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    font-family: "mtt_speak";
    font-size: 1.4vw;
    letter-spacing: -0.15vw;
    transition: 1s;
}
.chat_box_left{
    left:-16%;
    transition: 0s;
}
.playerMovingSection {
    font-family: "8bit";
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}
.playerMovementBox {
    width: 51.5%;
    height: 100%;
    border: 0.3vw solid white;
    font-size: 2vw;
    position: relative;
    color: white;
    padding: 1%;
    white-space: pre;
    transition: 1s;
}
#shake-element {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.word {
    display: flex;
}
.text_bc_im{
    background-image: url(../img/attack.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 0% !important;
    width: 53% !important;
    height: 91% !important;
}
.player {
    width: 4%;
    position: absolute;
    z-index: 0;
}
.statSection {
    font-family: "8bit_small";
    display: flex;
    height: 9%;
    justify-content: flex-start;
    align-items: center;
    width: 54.5%;
    transition: 1s;
}
.name {
    padding-right: 5%;
    font-size: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
}
.lv {
    padding-right: 5%;
    font-size: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
}
.hp2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-start;
    font-size: 2.3vw;
    height: 100%;
    align-items: center;
}
.hpText {
    font-family: "HP";
    font-size: 1.25vw;
    padding: 0 1% 0 0;
    display: flex;
    align-items: center;
}
.playersHPBackground {
    width: 10%;
    margin: 0 1% 0 0;
    height: 43%;
    background: #bf0000;
}
.playersHP {
    background: #ffff00;
    height: 100%;
}
.playersHPText {
    font-size: 2.5vw;
}
.battleSection {
    width: 54.5%;
    height: 11.5%;
    background-color: black;
    display: flex;
    align-items: flex-end;
    font-family: "buttons";
    justify-content: space-between;
    transition: 1s;
    overflow: visible;
}
.actionButton {
    height: 96%;
    width: 19%;
    color: #fe8507;
    border: 0.2vw solid #fe8507;
    background: 0;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.actionButton:focus {
    outline:none;
}
.actionButton.yellow {
    color: #d4d415;
    border: 0.2vw solid #d4d415;
}
.buttonImg {
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
    position: relative;
    top: 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 100%;
    font-size: 2vw;

}
.left-element {
    padding: 0 0 0 3%;
    display: flex;
    align-items: center;
}

.right-element {
    padding: 0 0 0 17%;
    display: flex;
    align-items: center;
}

.right-element-page {
    padding: 0 0 0 39%;
    display: flex;
    align-items: center;
}

.nothing {
    width: 10%;
    height: 10%;
    background: black;
}
.attack {
    width: 107%;
    height: 137%;
}
.attack_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attack_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32%;
    padding: 2% 0 0 0;
}
.hidden{
    display: none;
}
.hidden_anim{
    animation: disepear 1s;
}
.black{
    background-color: black;
}
.flex{
    display: flex;
    align-items: center;
}
.transition{
    transition: 1s;
}
.animation_shake{
    animation: shake_attack steps(1, end) 1s;
    animation-timing-function: cubic-bezier(0.43, -0.02, 1, 2.29);
}
.wrap{
    flex-wrap: wrap;
}
.none{
    position:absolute;
    display: none;
}
.appear_hide{
    animation: black_white 0.2s infinite;
}
.appear_hide_yellow{
    animation: yellow_white 0.2s infinite;
}
.flash{
    animation: beam 0.5s infinite;
}
.move_attack{
    left: 100% !important;
    transition: 1.2s linear;
} 
.cube {
    width: 49% !important;
    height: 97% !important;
    padding: 0;
}
.move {
    transition: all 0.4s ease-in-out !important;
    left: 23.7% !important;
}
@keyframes beam {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes black_white {
    0% {
        border: 0.3vw solid black;
        background-color: white;
    }
    50% {
        border: 0.3vw solid white;
        background-color:   black;
    }
    100% {
        border: 0.3vw solid black;
        background-color: white;
    }
}
@keyframes yellow_white {
    0% {
        border: 0.3vw solid yellow;
        background-color:   black;
    }
    50% {
        border: 0.3vw solid black;
        background-color:   yellow;
    }
    100% {
        border: 0.3vw solid yellow;
        background-color: black;
    }
}
@keyframes bounce {
    0% {
        position: relative;
        bottom: 2.5%;
    }
    25%{
        position: relative;
        bottom: 5%;
    }
    100%{
        position: relative;
        bottom: 0%;
    }
}
@keyframes disepear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}  
@keyframes moveBackground {
    0% {
      background-position: 0vw 0vw;
    }
    100% {
        background-position: 14.3vw -16.6vw;
    }
}
  @keyframes shake1 {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-1.5px);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes shake2 {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(1.5px);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes shake3 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(-1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake4 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake4 {
    0%{
      transform: translateX(0);
    }
    50%{
      transform: translateX(1.5px);
    }
    100%{
      transform: translateX(0);
    }
  }
  @keyframes shake_attack {
    0% {
      transform: translateX(0);
    }
    7% {
      transform: translateX(10px);
    }
    14% {
      transform: translateX(-10px);
    }
    21% {
      transform: translateX(8px);
    }
    28% {
      transform: translateX(-8px);
    }
    35% {
      transform: translateX(6px);
    }
    42% {
      transform: translateX(-6px);
    }
    49% {
      transform: translateX(5px);
    }
    56% {
      transform: translateX(-5px);
    }
    63% {
      transform: translateX(3px);
    }
    70% {
      transform: translateX(-3px);
    }
    77% {
      transform: translateX(2px);
    }
    84% {
      transform: translateX(-2px);
    }
    91% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(-1px);
    }
  }  
  @keyframes shake_death {
    0%{
        transform: translateX(-2px);
    }
    25%{
        transform: translateY(-3px);
    }
    50%{
        transform: translateX(2px);
    }
    75%{
        transform: translateY(3px);
    }
    100%{
        transform: translateX(-2px);
    }
  }
  @keyframes backgroundAnimation {
    0% {
        background-size: 40% 40%;
    }
    50% {
        background-size: 65% 65%;
    }
    100% {
        background-size: 40% 40%;
    }
}